body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

p {
    padding-bottom: 5%;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 2em
}

h1,
h2 {
    color: #595a5b
}

a {
    color: cyan
}

.img:hover {
    transform: scale(1.05)
}

.animate {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.header a:hover {
    transform: scale(1.1)
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.panel {
    position: relative;
    z-index: 2;
}


footer {
    position: relative;
    z-index: 2;
}

a {
    position: relative;
    z-index: 2;
}

@media(min-width:1000px) {
    .item:not(first-child) {
        margin-left: 90px
    }
}

@media(min-width:700px) {
    .main-content {
        width: 40%;
        text-align: center;
        margin: 0 auto
    }
    .playercount {
        font-size: 1.2em
    }
}

@media(min-width:1500px) {
    .header {
        position: relative;
        right: -30%;
        padding: 18pt;
        font-size: 1vmax;
        text-align: rightt
    }
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .vote {
        min-width: 50%
    }
}