/* Global */
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #696d72;
	height: 100%;
	background: linear-gradient(to top, rgb(30, 108, 182), rgb(52, 152, 245));
}

p {
	padding-bottom: 5%;
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.5em;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 2em;
}

h1,
h2 {
	color: #595a5b;
}

a {
	color: cyan;
}

/* Header */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

header h1 {
	color: white;
	padding-top: 50px;
}

.nav {
	list-style: none;
	display: flex;
}

.nav:not(:first-child) li {
	margin-left: 20px;
}

.nav li {
	text-transform: uppercase;
	font-weight: 600;
}


.nav {
	list-style: none;
	display: flex;
}

.nav:not(:first-child) li {
	margin-left: 20px;
}

.nav li {
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 5px;
}

.logo {
	transition-duration: 0.5s;
}

.logo img {
	width: 200px;
	margin-left: 30px;
	margin-top: 10px;
}

.logo:hover {
	transform: scale(1.07);
}

.nav {
	padding: 18px 0 20px 0;
}

/* Main Content */


/* Footer */

footer {
	background-color: #595a5b;
	color: white;
	padding: 20px 0;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom:0;
	width:100%;
}

footer p {
	padding: 0 0 0 30px;
}

/* Media Queries */
@media(min-width: 700px) {
	h1 {
		font-size: 3.5em;
	}
	.picture-container {
		padding: 0 10px 0 0;
	}
}